body {
    margin:0;
    padding:0;
}
.bar{ 
	width:100%; 
	height:35px; 
    
} 

.darkmain{ 
    background-color: #1F2023;
} 

.darksec{ 
    background-color: #343539;
} 

.hidden{
    display:none;
}